.flex-bet {
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.bg-logo {
    background-size: 80px;
    background: linear-gradient(rgba(255, 255, 255, 0.918), rgba(255, 255, 255, 0.884)), url('../img/logo.png');

}

.logo {
    height: 35px;
}